<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购物车</title>
	<link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
    <div class="page-shopping-cart" id="shopping-cart">
		<!-- <div class="red" :class="{blue:show}" @click="show=!show">1234</div> -->
        <h4 class="cart-title">购物清单</h4>
        <div class="cart-product-title clearfix">
            <div class="td-check fl">
                <span @click="selectAll()" class="check-span fl check-all" :class="{yes:allSelected}"></span>全选</div>
            <div class="td-product fl">商品</div>
            <div class="td-num fl">数量</div>
            <div class="td-price fl">单价(元)</div>
            <div class="td-total fl">金额(元)</div>
            <div class="td-do fl">操作</div>
        </div>
		
        <div class="cart-product clearfix">
            <table>
                <tbody>
                    
                    <tr v-for="(item,index) in goods">
                        <td class="td-check">
                            <span class="check-span" :class="{yes:item.selected}" @click="selected(index)"></span>
                        </td>
                        <td class="td-product">
                            <img width="98" height="98" :src="item.imgUrl">
                            <div class="product-info">
                                <h6>{{item.name}}</h6>
                                <p>品牌：{{ item.brand }};&nbsp;产地：{{ item.location }}</p>
                                <p>规格/纯度:{{ item.size }}&nbsp;&nbsp;起定量：{{ item.number }}</p>
                                <p>配送仓储：{{ item.send }}</p>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td class="td-num">
                            <div class="product-num">
                                <a @click="add(index)" href="javascript:void(0);" class="num-reduce num-do fl">
                                    <span>＋</span>
                                </a>
                                <input type="text" class="num-input" v-model="item.num">
                                <a @click="sub(index)" href="javascript:void(0);" class="num-add num-do fr">
                                    <span>－</span>
                                </a>
                            </div>
                        </td>
                        <td class="td-price">
                            <p class="red-text">￥
                                <span class="price-text">{{ item.price.toFixed(3) }}</span>
                            </p>
                        </td>
                        <td class="td-total">
                            <p class="red-text">￥
                                <span class="total-text">{{ (item.num * item.price).toFixed(3) }}</span></p>
                        </td>
                        <td class="td-do">
                            <a href="javascript:;" class="product-delect">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cart-product-info">
            <a @click="deleteSelected()" class="delect-product" href="javascript:;">
                <span></span>删除所选商品</a>
            <a class="keep-shopping" href="#">
                <span></span>继续购物</a>
            <a class="btn-buy fr" href="javascript:;">去结算</a>
            <p class="fr product-total">￥
                <span>1000000000</span>
            </p>
            <p class="fr check-num">
                <span>1000</span>件商品总计（不含运费）：</p>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
<script>
    var productList = [ 
            {
                'pro_name': '【斯文】甘油 | 丙三醇',//产品名称
                'pro_brand': 'skc',//品牌名称
                'pro_place': '韩国',//产地
                'pro_purity': '99.7%',//规格
                'pro_min': "215千克",//最小起订量
                'pro_depot': '上海仓海仓储',//所在仓库
                'pro_num': 3,//数量
                'pro_img': '../../images/ucenter/testimg.jpg',//图片链接
                'pro_price': 800//单价
            },
            {
                'pro_name': '【斯文】甘油 | 丙三醇',//产品名称
                'pro_brand': 'skc',//品牌名称
                'pro_place': '韩国',//产地
                'pro_purity': '99.7%',//规格
                'pro_min': "215千克",//最小起订量
                'pro_depot': '上海仓海仓储',//所在仓库
                'pro_num': 3,//数量
                'pro_img': '../../images/ucenter/testimg.jpg',//图片链接
                'pro_price': 800//单价
            },
            {
                'pro_name': '【斯文】甘油 | 丙三醇',//产品名称
                'pro_brand': 'skc',//品牌名称
                'pro_place': '韩国',//产地
                'pro_purity': '99.7%',//规格
                'pro_min': "215千克",//最小起订量
                'pro_depot': '上海仓海仓储',//所在仓库
                'pro_num': 3,//数量
                'pro_img': '../../images/ucenter/testimg.jpg',//图片链接
                'pro_price': 800//单价
            }
        ]
	var goodsList = [
            {
                name: '可乐',
                brand: '可口可乐公司',
                location: '海外',
                size: '300ml',
                number: 10,
                send: '海外仓库',
                price: 3.05,
                num: 2,
                imgUrl:'./images/kele.jpg'
            },
            {
                name: '雪碧',
                brand: '可口可乐公司',
                location: '海外',
                size: '270ml',
                number: 10,
                send: '海外仓库',
                price: 3.50,
                num: 1,
                imgUrl: './images/xuebi.jpg'
            },
            {
                name: '芬达',
                brand: '可口可乐公司',
                location: '海外',
                size: '300ml',
                number: 20,
                send: '海外仓库',
                price: 4.99,
                num: 4,
                imgUrl: './images/fenda.jpg'
            },
            {
                name: '美年达',
                brand: '可口可乐公司',
                location: '海外',
                size: '300ml',
                number: 16,
                send: '海外仓库',
                price: 3.99,
                num: 3,
                imgUrl: './images/meinianda.png'
            },
        ];
</script>
<script type="text/javascript">
	var app = new Vue({
		el: '#shopping-cart',
		data: {
			allSelected:false,
			goods: goodsList
		},
		methods:{
			add: function(index){
				if(this.goods[index].num < this.goods[index].number)
					this.goods[index].num++
			},
			sub: function(index){
				if(this.goods[index].num > 0)
					this.goods[index].num--
			},
			selected: function(index){
				console.log(this.goods[index].selected)
				this.goods[index].selected = !this.goods[index].selected
				console.log(this.goods[index].selected)
			},
			selectAll: function(){
				this.allSelected = !this.allSelected
				console.log(this.allSelected)
				for (let index in this.goods) {
					this.goods[index].selected = this.allSelected
				}
				
				
			},
			deleteSelected: function(){
				this.goods = this.goods.filter(function(item){
					return !item.selected
				})
			}
		},
		mounted() {
			// 要给数据增加一个专门用来 记录 选中状态的变量
// 			this.goods.map(function(item){
// 				item['selected'] = false
// 				console.log(item.name)
// 			})
			let _this = this
			this.goods.map(function(item){
				_this.$set(item,'selected',false)
			})

		}
	})
</script>
<script type="text/javascript">
	// map
	var users = [
		{name:'tom',age:18},
		{name:'jack',age:20}
	]
	
	var ages = users.map(function(user){
		return user.age
	})
	console.log(ages)
	
	users.map(function(user){
		user.age = 30
		user['sex'] = 'm'
		console.log(user.name,user.age)
	})
	
	users.map(function(user){
		console.log(user.name,user.age,user.sex)
	})
	
	let a = [1,2,1,1,1]
	let res = a.every(function(item){
		console.log(item)
		return item == 1
	})
	
	console.log(res)
</script>
</html>